*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(9, 1, 43);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url(../assets/felt.png),
      -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
    background-size: 180px 180px, auto;
    background-attachment: fixed;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}
.Home .btn{
    position:absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 45px;
    background: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.dropdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 45px;
}
.dropdown button{
    background-color: hsl(202, 83%, 64%);
    color: white;
    padding: 10px 33px;
    border: none;
    border-radius: 15px 50px 50px 10px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(202, 83%, 64%);
    min-width: 100px;
    box-shadow: 2px 2px 5px #ff6ac1;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: #ff6ac1;
}
.dropdown a:hover{
    background-color: #370623;
}

.betTable {
    display: flex;
    margin:0%;
    position: relative;
    right:60px;
    justify-content: center;
}

.tableCenter {
    justify-content: center;
    height: 10px;
    padding: 0px 0px;

}

.leftMost{
    position: relative;
    left: 65px;
    width: 50px;
    height:122px;
    border-radius: 50px 10px 10px 50px;
    color: white;
    background-color: #436410;
    padding: 10px 15px;
    border: 2px solid white;
    cursor: pointer;
}

.rightMost{
  position: relative;
  left: 670px;
}

.rightBtn{
  display:flex;
  flex-direction: column;
  color: #dca041;
  padding: 10px 15px;
  border: 2px solid rgba(255, 255, 255, 0.805);
  cursor: pointer;
}

.rBtn{
    color: #dca041;
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.805);
    cursor: pointer;
}

.twoToOne{
    color: rgba(255, 255, 255, 0.805);
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.805);
    cursor: pointer;
}

.twelves{
  width: 605px;
  display: flex;
  justify-content:flex-start;
  gap: 18px;
  padding: 0px 0px;

}

.firstTwelve{
  margin: 0px 5px; 
  color: #dca041;
  padding: 15px 55px;
  border: 2px solid rgba(255, 255, 255, 0.805);
  cursor: pointer;
}

.secondTwelve{
  color: #dca041;
  padding: 15px 55px;
  border: 2px solid rgba(255, 255, 255, 0.805);
  cursor: pointer;
}

.thirdTwelve{
  margin: 0px 10px; 
  color: #dca041;
  padding: 15px 55px;
  border: 2px solid rgba(255, 255, 255, 0.805);
  cursor: pointer;
}

/* colors */
.transparent{
  background-color: transparent;
}

.red {
    background-color: #c52703;
}

.black {
    background-color: #242324;
}

.green{
    background-color: #436410;
}

/* hovers */

.rightBtn:hover{
    transform: scale(1.05);
}

.rBtn:hover{
    transform: scale(1.15);
}

.leftMost:hover{
    transform: scale(1.15);
}

.hoverBtn:hover{
  transform: scale(1.15);
}

/*result*/

.result{
  display: flexbox;
}

/* Flipper */

.flipper-container {
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flipper {
  display: none;
  position: relative;
  width: 96px;
  height: 128px;
  transition: all 2s cubic-bezier(0.240, 1.650, 0.915, 0.835);
  transform-style: preserve-3d;
  font-family: monospace;
  user-select: none;
}
.flipper.flip {
  transform: rotateX(90deg);
}

.front-face, .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 76px;
}

.front-face {
  background-color: #fc216100;
  color: #fff;
  text-shadow: 0 1px 1px #b50236;
  transform: rotateX(0deg) translateZ(64px);
}

.back-face {
  color: #dca041;
  transform: rotateX(-90deg) translateZ(64px);
  outline: solid 2px;
}

.flip.red {
  .back-face {
    background-color: #c52703;
  }
}

.flip.black {
  .back-face {
    background-color: #242324;
  }
}

.flip.green {
  .back-face {
    background-color: #436410;
  }
}

.result {
  max-width: 500px;
  margin: auto;
  .flipper {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* Flipper */

/* Roulette */   
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    contain: layout style;
    overflow: visible;
  }
  
  .roulette-wheel {
    float: right;
    width: 380px;
    height: 380px;
    border-radius: 100%;
    background: url(../assets/roulette_1.jpg);
    background-size: 380px 380px;
    shape-outside: circle(190px);
    margin: 0 0 1em 1em;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    touch-action: none;
    overflow: visible;
  }
  
  @media screen and (max-width: 2640px) {
    .roulette-wheel {
      float: none;
      margin: 0.5em auto;
    }
  }
  
  @media screen and (max-width: 375px) {
    body {
      padding: 0 20px;
    }
    .roulette-wheel {
      float: none;
      left: 30px;
    }
  }
  
  .roulette-wheel .layer-2,
  .roulette-wheel .layer-3,
  .roulette-wheel .layer-4,
  .roulette-wheel .layer-5,
  .ball-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 380px 380px;
  }
  
  .roulette-wheel .layer-2,
  .roulette-wheel .layer-4,
  .ball-container {
    will-change: transform;
  }
  
  .roulette-wheel .layer-2 {
    background-image: url(../assets/roulette_2.png);
  }
  
  .roulette-wheel .layer-3 {
    background-image: url(../assets/roulette_3.png);
  }
  
  .roulette-wheel .layer-4 {
    background-image: url(../assets/roulette_4.png);
  }
  
  .roulette-wheel .layer-5 {
    background-image: url(../assets/roulette_5.png);
  }
  
  .roulette-wheel svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .roulette-wheel circle {
    cursor: pointer;
    fill: transparent;
  }
  
  .roulette-wheel .ball {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
    box-shadow: 1px 1px 4px #000;
    transform: translateY(-116px);
    top: 50%;
    left: 50%;
    margin: -7px;
    will-change: transform;
  }
  
  
  .roulette-board {
    float: none;
    display: flow-root;
    width: 1000px;
    height: 420px;
    background: url(assets/Board.png);
    background-size: 1000px auto;
    margin: 0 auto;
  }
  .roulette-board-grid-numbers {
    display: grid;
    width: auto;
    height: 216px;
    margin-left: 37px;
    margin-right: 23px;
    margin-top: 27px;
    margin-bottom: 17px;
  }
  .roulette-board-grid-other {
    display: grid;
    width: auto;
    height: 216px;
    margin-left: 37px;
    margin-right: 23px;
    margin-top: 27px;
    margin-bottom: 17px;
  }
  /*#app table,
  #app td,
  #app th {
    /*border: 4px solid #fff700;
    border-collapse: collapse;
  }*/
  
  
  
   ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    list-style-type: none;
    transform: translate(-50%, -50%);
  }
  
   ul li.board-chip {
    list-style: none;
    margin: 0 15px;
    display: block;
  }
  
  ul li.board-chip div {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 18px;
    color: #ffff;
    transition: .5s;
    
  }
  
  ul li div::before {
    content: '';
  }
  
  ul li.board-chip div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
   ul li.board-chip div:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  ul li.board-chip div:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
   ul li.board-chip div.chip_selected {
    color: #ffee10;
    box-shadow: 0 0 20px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  ul li.board-chip div.chip-100 {
    background:url('assets/chip_black.png') no-repeat;
    background-size: 60px 60px;
  }
  ul li.board-chip div.chip-20 {
    background:url('assets/chip_blue.png') no-repeat;
    background-size: 60px 60px;
  }
  ul li.board-chip div.chip-10 {
    background:url('assets/chip_orange.png') no-repeat;
    background-size: 60px 60px;
  }
  ul li.board-chip div.chip-5 {
    background:url('assets/chip_purple.png') no-repeat;
    background-size: 60px 60px;
  }
  
  div.chip-100-placed {
    background:url('assets/chip_black.png') no-repeat;
    background-size: 30px 30px;
  }
  div.chip-20-placed {
    background:url('assets/chip_blue.png') no-repeat;
    background-size: 30px 30px;
  }
  div.chip-10-placed {
    background:url('assets/chip_orange.png') no-repeat;
    background-size: 30px 30px;
  }
  div.chip-5-placed {
    background:url('assets/chip_purple.png') no-repeat;
    background-size: 30px 30px;
  }
  .roulette-actions{
    display: block;
    position: relative;
    height: 150px;
  }
  .chipValue {
    position: relative;
  }
  .chipValueImage { 
    position: absolute;
    width:30px;
    height:30px;
  }
  .chipSum {
    position:absolute;
    font-weight: 900;
    font-size:20px;
    -webkit-text-stroke: 1px blue;
    -webkit-text-fill-color: white;
    z-index:10;
  }
  .auth-user { 
    width: 250px;
    margin: 300px auto;
  }
  .progressBar { 
    width:400px;
    margin: 0 auto;
  }
  .linearProgressRounds { 
    width:400px;
    height:40px;
  }
  .progressRoundTitle {
    text-align:center;
    margin:0 auto;
    margin-top:20px;
    font-size: 24px;
      font-weight: 900;
      color: #fff;
  }
  .winnerItem { 
    font-size: 24px;
    font-weight: 600;
    margin-top:20px;
    color: #f5f5dc;
  }
  .winnerItemHeader { 
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top:20px;
    color: #f5f5dc;
  }
  .rouletteWheelWrapper {
    margin: 0 auto;
  }
  .winnerHistory { 
    vertical-align:top;
    width: 400px;
  }
  .winnersBoard { 
    vertical-align:top;
    width: 400px;
  }
  
  .winnerHistory .red {
    text-align: center;
    background-color: rgb(177, 6, 6);
  }
  .winnerHistory .green {
    text-align: center;
    background-color: rgb(42, 174, 42);
  }
  .winnerHistory .black {
    text-align: center;
    background-color: rgb(41, 40, 40);
  }
  .winnerHistory {
  
  }
  
  .winnerHistory div {
    float:left; 
    color:#fff;
    font-weight: 900;
    line-height: 40px;;
    margin-left:20px;
    margin-top:10px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .hideElementsTest {
   /* visibility: hidden;*/
  }

/* Roulette */


