*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body{
    min-height: 100vh;  
    background-image: url(../assets/felt.png),
    -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
    background-size: 180px 180px, auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
    padding: 0;
    margin: 0%;
}
.Home .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 45px;
    background: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.dropdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 45px;
}
.dropdown button{
    display: flex;
    background-color: hsl(202, 83%, 64%);
    color: white;
    padding: 10px 33px;
    border: none;
    border-radius: 15px 50px 50px 10px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(202, 83%, 64%);
    min-width: 100px;
    box-shadow: 2px 2px 5px #ff6ac1;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: #ff6ac1;
}
.dropdown a:hover{
    background-color: #370623;
}

/* SLOTS OG
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#slots {
  width: 100%;
  height: 100%;
  background: #212121;
  background-image: url(../assets/felt.png),
  -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
  background-size: 180px 180px, auto;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
background-color: hsl(202, 83%, 64%);
color: white;
padding: 10px 33px;
border: none;
border-radius: 40px;
cursor: pointer;
}

.doors {
  display: flex;
}

.door {
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 1ex;
  margin: 1ch;
}

.boxes {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}


.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

*/

/* SLOTS ALT*/


.slot{
	width: 88%;
	height:400px;
	overflow: hidden;
	margin: auto;
	margin-top: 60px;
	background-color: aliceblue;
	border-radius: 8px;
	box-shadow: var(--outer-shadow);
}

#slot-screen{
	height: 500px;
	position: relative;
	overflow: hidden;
}

ul{
	list-style: none;
}

ul li{
	border: 2px solid black;
	border-radius: 5px;
	width: 98%;
	margin: 1px 0;
	background-color: #ffd400;
}

.reels{
	width: 31%;
	position: absolute;
	padding: 0px;
}

.reels:nth-child(1){
	left: 0;
}

.reels:nth-child(2){
	left: 34.5%;
}

.reels:nth-child(3){
	right: 0;
}

.reel img{
  display: block;
  margin: auto;
  height: 240px;
  max-width: 100%;
	
}

.stop-btn{
  display: inline-block;
  background-color: red;
  box-shadow: 0 0 29 31 #fff;
  color: white;
  padding: 35px;
  margin: 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  border-bottom: 4px solid #95626b;
}

.stop-btn:hover{
  background-color: rgb(21 199 15);
  cursor: pointer;
  box-shadow: 0 0 29 31 #fff,
  0 0 19px 19px rgb(21 255 0),
  0 0 33px 17px rgb(0 255 42),

}

.stop-btn:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#start-btn{
  display: inline-block;
  padding: 20px 40px;
  background-color: #13aa52;
  border: 5px solid #02893a;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  border-radius: 40px;
}

#start-btn:hover{
  background-color: #86a347;
  cursor: pointer;
}

#start-btn:active{
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  border: none;
}